body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #00000f;
    text-transform: uppercase;
    background: #ffffff;
}

a {
    text-decoration: none;

}
.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    border: 0;
    margin: -1px;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(100%);
}

.background-photo {
    width: 1201px;
    height: 773px;
    background-image: url("../img/svg/title-polygon.svg"), url("../img/svg/title-sedona.svg"), url("../img/main-background-photo.jpg");
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 1201px 59px, 459px 353px, 1201px 773px;
    background-position: bottom,center,top;
}

.main-nav {
    font-size: 14px;
    line-height: 26px;
    color: #00000f;
}

.main-header-logo,
.site-nav {
    list-style: none;
}

.main-header-logo a,
.site-nav a {
    color: #00000f;
}

.main-header-logo a:hover,
.site-nav a:hover {
    color: #81b3d2;
}

.main-header-logo a:active,
.site-nav a:active {
    color:rgba(0, 0, 0, 0.3);
}

.main-header-logo a:focus,
.site-nav a:focus {
    color: #766357;
}

.features-text {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.search {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}
.search-question {
    text-align: center;
}

.search-text {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.catalog-title.--name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

.catalog-title.--name:hover {
    color: #81b3d2;
    background-color: #ffffff;
}

.catalog-title.--name:active {
    color:rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.search-button,
.catalog-button.--dark {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
}
.search-button:hover,
.catalog-button.--dark:hover {
    color: #ffffff;
    background-color: #604e43;
}

.search-button:active,
.catalog-button.--dark:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #550033;
}

input::placeholder {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.appointment-input {
    font-size: 14px;
    font-weight: bold;
    color:#000000;
    background-color: #f2f2f2;
}

.appointment-input:hover {
    color: #000000;
    background-color: #ebebeb;
 }

  .appointment-input:focus {
      color: #000000;
      background-color: #ffffff;
}

.appointment-button-calendar,
.appointment-button {
    color: #cacaca;
}
.appointment-button-calendar:hover,
.appointment-button:hover {
    color: #ffffff;
}

.appointment-button-calendar:active,
.appointment-button:active {
    color: #81b3d2;
}

.footer-social,
.appointment-search-button,
.catalog-button.--light {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    list-style: none;
    background-color: #81b3d2;
}

.footer-social:hover,
.appointment-search-button:hover,
.catalog-button.--light:hover {
    color: #ffffff;
    background-color: #669ec0;
}

.footer-social:active,
.appointment-search-button:active,
.catalog-button.--light:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
    
}

.hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
}

.footer-copyright-web {
    font-size: 14px;
    color: #000000;
}

.copyright-link,
.catalog-title {
    list-style: none;
    color: #000000;
}

.copyright-link:hover,
.catalog-title:hover {
    color: #81b3d2;
}

.copyright-link:focus,
.catalog-title:focus {
    color: #bdbbbc;
}





