body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #00000f;
    text-transform: uppercase;
    background: #ffffff;
    border-right: 160px solid #f2f2f2;
    border-left: 160px solid #f2f2f2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    border: 0;
    margin: -1px;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: in;
    set(100%);
}

.main-header {
    display: flex;
    justify-content: center;
    width: 1200px;
    min-height: 56px;
}

.main-header-logo {
    width: 140px;
    height: 71px;
    position: absolute;
    right: 534px ;
    left: 534px;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 14px;
    line-height: 26px;
    color: #00000f;
}

.site-nav {
    display: flex;
    width: 1059px;
    min-height: 56px;
    padding-left: 0px;
    list-style: none;
}

.site-nav-item {
    width: 239px;
    min-height: 56px;
}

.site-nav-item:nth-child(2) {
    margin-right: 51px;
}

.site-nav-item:nth-child(3) {
    margin-left: 53px;
}

.site-nav-item:nth-child(1) + :nth-child(2) {
    text-align: left;
}

.site-nav-item:nth-child(3) {
    text-align: right;
}

.site-nav-item:nth-child(4) {
    text-align: right;
}

.background-photo {
    width: 1201px;
    height: 773px;
    background-image: url("../img/svg/title-polygon.svg"), url("../img/svg/title-sedona.svg"), url("../img/main-background-photo.jpg");
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 1201px 59px, 459px 353px, 1201px 773px;
    background-position: bottom,center,top;
    margin-bottom: 65px;
}

.site-nav-item a {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

.site-nav-item a:hover {
    color: #81b3d2;
    background-color: #ffffff;
}

.site-nav-item a:active {
    color:rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.site-nav-item.--active a {
    background-color: #ffffff;
    color: #766357;
}

.features-text {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    width: 489px;
}

.features-description {
    display: block;
    width: 468px;
    text-align: center;
    margin-bottom: 30px;
}

.features {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 57px;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.search-question {
    text-align: center;
}

.search-button {
    width: 568px;
}

.search-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #333333;
    text-align: center;
}

.catalog-title a {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

.catalog-title a:hover {
    color: #81b3d2;
    background-color: #ffffff;
}

.catalog-title a:active {
    color:rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.catalog-item-description,
.catalog-price {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    color: #333333;
    background-color: #ffffff;
}

.catalog-rating-text{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 21px;
    text-align: center;
    background-color: #f2f2f2;
    color: #666666;
}

.catalog-button.--dark {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
}

.catalog-button.--dark:hover {
    color: #ffffff;
    background-color: #604e43;
}

.catalog-button.--dark:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.search-button {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
}

.search-button:hover {
    color: #ffffff;
    background-color: #604e43;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.appointment-input::placeholder {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
}

.appointment-input {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color:#000000;
    background-color: #f2f2f2;
}

.appointment-input:hover {
    color: #000000;
    background-color: #ebebeb;
 }

.appointment-input:focus {
    color: #000000;
    background-color: #ffffff;
}

.appointment-button-calendar,
.appointment-button {
    color: #cacaca;
}

.appointment-button-calendar:hover,
.appointment-button:hover {
    color: #ffffff;
}

.appointment-button-calendar:active,
.appointment-button:active {
    color: #81b3d2;
}

.main-footer {
    padding: 36px 0px;
    margin-top: 78px;
}

.main-footer .conteiner {
    display: flex;
}

.footer-social,
.appointment-search-button,
.catalog-button.--light {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 26px;
    text-transform: inherit;
    text-decoration: none;
    color: #ffffff;
    background-color: #81b3d2;
}

.footer-social:hover,
.appointment-search-button:hover,
.catalog-button.--light:hover {
    color: #ffffff;
    background-color: #669ec0;
}

.footer-social:active,
.appointment-search-button:active,
.catalog-button.--light:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.appointment-search-button {
    list-style: none;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    text-transform: inherit;
    text-decoration: none;
    color: #ffffff;
    background-color: #81b3d2;
}

.appointment-search-button:hover {
    color: #ffffff;
    background-color: #669ec0;
}

.appointment-search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hashtag {
    width: 163px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    margin-right: 224px;
}

.footer-social {
    width: 168px;
    margin-right: 179px;
}

.footer-copyright {
    width: 306px;
   
}
.footer-copyright-web {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}

.copyright-link,
.catalog-title {
    list-style: none;
    color: #000000;
}

.copyright-link:hover,
.catalog-title:hover {
    color: #81b3d2;
}

.copyright-link:focus,
.catalog-title:focus {
    color: #bdbbbc;
}





